

h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

h1::after {
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background-color: #bc9536;
    margin: .5rem auto 0;
}

section.portafolio{
    
}

div.decorativo {
    position: fixed;
    background-color: #bc9536;
    height: 10rem;
    width: 100%;
    top: 56%;
    bottom: 50%;
    z-index: -1000;
}

div.mb-4.text-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button.btn.btn-outline-dark.mx-1 {
    border-radius: 0;
    margin: .3rem;
    color: rgba(255, 255, 255, 0.851);
}

.active {
    background-color: #bc9536 !important;
    font-weight: 600 !important;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 1200px;
    margin: auto;
    
}

picture,
#galeria img
 {
    max-width: 25rem;
    height: 18rem;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

div.logo img{
    margin-left: .5rem !important;
    width: clamp(7rem, 12vw, 11rem) !important;
}