* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(14, 14, 14, 0.949);
    color: rgba(255, 255, 255, 0.851);
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 14, 14);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    z-index: 1000;
}

.header-spacer {
    /* igual que header */
    height: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.logo img {

    width: clamp(7rem, 12vw, 11rem) !important;
}

div.menunav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    margin-right: 1.7rem;
    margin-block: .5rem;
}

a.nav-link {
    color: white !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-align: center !important;
    padding: .3rem;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
}

a.nav-link:hover {
    color: #bc9536 !important;
}

a.nav-link.active {
    border-bottom: 2px solid #bc9536;
    color: #bc9536 !important;
}

div#menu,
div.home,
div.logoclientes {
    display: none;
}

/*GENERALES-+--++-+ */

a.button {
    color: white;
    background: #bc9536;
    border-width: 2px;
    border-style: solid;
    border-color: #bc9536;
    position: relative;
    display: inline-block;
    padding: 0.5em .5em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
}

a.button::before,
a.button::after {
    content: '';
    display: block;
    position: absolute;
    border-color: #bc9536;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

a.button::before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

a.button::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

a.button:hover:before,
a.button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: white
}

a.button:hover {
    color: white;
    background-color: #bc9536;
    border-color: #bc9536;
}

section {
    width: 100%;
    height: auto;
    text-align: center;
}

h2.title {
    margin-top: 2rem;
    cursor: default;
    position: relative;
    margin-bottom: 2rem;
}

h2.title::after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background-color: #bc9536;
    margin: .5rem auto 0;
}

h5,
p {
    cursor: default !important;
    margin: 0;
}

.tipografia {
    font-family: "Playfair Display", serif;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

[id] {
    scroll-margin-top: 5rem;
}


/*CARRUSEL INICIO - TESTIMONIO*/
div#mycarousel.carousel-inner,
div#mycarousel,
div#mycarousel img.d-block {
    max-height: 50rem;
    width: 100%;
    cursor: no-drop;
}

.carousel-fade .carousel-item {
    /*testimonio*/
    transition: opacity 0.8s ease-in-out !important;
    /* Ajusta la duración y la función de temporización */
}

/*Inicio*/
.carousel-caption {
    /*Texto en los slide*/
    position: absolute;
    right: 15%;
    top: 3rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}

.carousel-caption h1,
.carousel-caption h4 {
    margin-bottom: 1rem;
}

.carousel-caption a.button {
    top: 5rem;
}

a.carousel-control-prev,
a.carousel-control-next {
    background: rgba(14, 14, 14, 0.949);
}

/*testimonio*/

div.cliente.text-center {
    width: auto;
}

img.d-block.mx-auto.rounded-square {
    border-radius: 50%;
    max-height: 8rem;
    max-width: 7rem;
}

/*---------------------------------*/


/*SERVICIOS -+-+-+--+-+--++-+*/

div.sesiones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
    margin-block: 2rem;
    margin-inline: 1.5rem;
}

div.card {
    /*cards de servicios y cards de galeria*/
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.851);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

div.sesiones .card-body {
    text-align: center;
    cursor: default;
}

p.card-text {
    font-weight: 300;
    font-size: clamp(.7rem, 2vw, 1.1rem);
    width: auto;
}

h5.card-text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.btn.btn-primary {
    border-radius: 0;
    background-color: transparent;
    border-color: #bc9536;
    font-weight: 300;
    margin-top: 1.5rem;
    line-height: 1.5;
}

a.btn.btn-primary:hover {
    background-color: #bc9536;
    border-color: none;
}

/*Galeria*/
button.btn.btn-outline-dark.mx-1 {
    margin: .3rem;
    color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 0;
}

button.btn.btn-outline-dark.mx-1:hover {
    background-color: #bc9536;
}

.activa {
    background-color: #bc9536 !important;
    font-weight: 600 !important;
}

div.row.container-filtros {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: .5rem;
}

div#gallery-container.row {
    margin-bottom: 2rem;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: auto;
    height: auto;
    gap: 1rem;
}

div#gallery-container.row .card {
    overflow: hidden;

}

div.col-md-4.mb-3 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 0;
    margin: 0 !important;
}

div.col-md-4.mb-3 .card {
    margin: 0;
}

div.col-md-4.mb-3 img.card-img-top {
    width: 100%;
    height: clamp(10rem, 20vw, 17rem);
    object-fit: cover;
    transition: transform 0.6s ease;
    display: block;
    filter: grayscale(60%);
}

div#gallery-container.row .card:hover img.card-img-top {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.portafolio a.button {
    margin-bottom: 2rem;
}

/*Testimonios -+-+-+-+-*/

section#clientes.testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

section#clientes.testimonios p {
    padding-bottom: 2rem;
}

img.decoration {
    display: none;
    position: absolute;
    bottom: -220%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 0.75;
}

/*Sobre mi -+-+-+-+-*/

section#aboutme.aboutme {
    background-image: url("../multimedia/profile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

div.description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

div.bio {
    align-items: center;
    margin-top: 1rem;
    cursor: default;
    background-color: rgba(14, 14, 14, 0.616);
    padding-block: .8rem;
    width: 60%;
}

div.bio a.button {
    margin-top: 2rem;
    margin-left: 0;
}

h5.name {
    font-size: x-large;
    font-weight: 600 !important;
    text-align: center !important;
    cursor: default;
    margin-bottom: .5rem;
}

div.description p {
    text-align: center;
    align-self: center;
    font-weight: 300;
    font-size: large;
    cursor: default;
}

div.description img {
    width: auto;
    height: 25rem;
}

/*Contacto -+-+-+-+-*/

section.contacto {
    background-image: url('../multimedia/contact_background.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.py-5 {
    justify-items: center;
    align-items: center;
    padding: 0 !important;
    margin-inline: 1rem;
}

div.row.justify-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    width: 100%;
}

.contact-card {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.722);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 3px #bc9536 solid;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

section.contacto h2 {
    color: rgba(0, 0, 0, 0.734);
    cursor: default;
}

section.contacto h4 {
    color: rgba(0, 0, 0, 0.734);
    cursor: default;
    font-weight: 600;
}

.form-control {
    border-radius: 12px;
    padding-left: 2.5rem;
}

textarea.form-control {
    resize: none;
    overflow-y: scroll;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #6c757d;
}

.bi-pencil-square.input-icon {
    top: 14%;
}

.btn-custom {
    border-radius: 12px;
    font-weight: 600;
    padding: 0.75rem;
    background: linear-gradient(135deg, #bc9536, #daa520);
    border: none;
    transition: all 0.3s ease-in-out;
    color: rgba(0, 0, 0, 0.732);
}

.btn-custom:hover {
    background: linear-gradient(135deg, #daa520, #bc9536);
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.811);
}

div.socialmedia {
    position: fixed;
    top: 89%;
    /* Mitad vertical */
    right: 10px;
    /* Separado del borde derecho */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;

}

a.mx-2 {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    background: transparent;
    border-radius: 50%;
    padding: 1px 7px;
    transition: all 0.3s ease;
}

a.mx-2:hover {
    transform: scale(1.1);
    color: #bc9536;
}

/*FOOTER -+-++-+-+-++-+-+-+-+-*/

div.containerfooter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.containerfooter a:hover {
    color: #bc9536;
}

#imgfooter {
    margin: 0;
}

.footerlogo {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    font-size: clamp(0.72rem, 2vw, 1rem);
}

div.redes ul {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: .8rem;
    width: auto;
}

ul {

    list-style: none;
    margin-top: .5rem;
}

div.colabs {
    margin-top: .8rem;
    margin-right: 5rem;
    text-align: right;
    font-size: clamp(0.72rem, 2vw, 1rem);
}

div.footer-content p {
    text-align: center;
    font-size: smaller;
    margin: .5rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media (max-width:1024px) {

    div.sesiones,
    div#gallery-container.row {
        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width:840px) {
    h5.descrip {
        margin-inline: 2rem;
    }

    [id] {
        scroll-margin-top: 5rem;
    }

    div.sesiones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    div.card {
        width: 100%;
        height: auto;
        column-gap: 1rem;
        ;
    }

    div#gallery-container.row {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

    div.col-md-4.mb-3 {
        width: 100%;
        height: auto;
    }

}

@media (max-width:440px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
    }

    [id] {
        scroll-margin-top: 5rem;
    }

    div.menunav {
        display: none;
    }

    div#menu {
        display: block;
        width: 100%;
        z-index: -10;
    }

    div.logo img {
        margin: 0;
        z-index: 10;
    }

    div#mycarousel {
        display: none;
    }

    [id] {
        scroll-margin-top: 5rem;
    }

    div.home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url("../multimedia/home_movil.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20rem;
    }

    div.home a {
        margin-top: 2rem;
    }

    p.card-text {
        display: none;
    }

    a.btn.btn-primary {
        margin-top: 0;
    }

    div.sesiones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    div.card {
        width: 100%;
        height: auto;
        column-gap: 1rem;
        ;
    }

    div#gallery-container.row {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

    div.col-md-4.mb-3 {
        width: 100%;
        height: auto;
    }

    h5.card-text {
        position: absolute;
        top: 10%;
        text-shadow:
            1px 1px 2px black,
            0 0 1em #bc9536,
            0 0 0.2em #bc9536;

    }

    section.portafolio h2.title {
        margin-top: 0;
    }

    section.testimonios h2.title {
        margin-top: 1rem;
    }

    div.cliente.text-center {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin: 0;
        margin-inline: 1rem;
        column-gap: 1rem;
        height: auto !important;
    }

    img.d-block.mx-auto.rounded-square {
        max-width: 6.2rem !important;
        max-height: 6.5rem !important;
    }

    div.description {
        display: flex;
        flex-direction: column;
    }

    div.bio {
        width: 90%;
        margin-bottom: 1rem;
    }

    #imgfooter {
        width: 5.5rem !important;
    }

    .footerlogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        column-gap: 0 !important;
    }

    div.redes ul {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    div.colabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-top: 0;
    }

    div.colabs h5 {
        font-size: 1.1rem;
    }

    ul {
        padding: 0;
        margin-top: 0 !important;
    }

    div.socialmedia{
        top: 85%;
    }

}