
/* Menú hamburguesa */
.menu {
    filter: url("#shadowed-goo");
}

.menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row-reverse; /* abre de der a izq */
    align-items: center;
}

svg{display: none;}

/* Botón principal */
.menu-item,
.menu-open-button {
    background:#bc9536;
    border-radius: 50%;
    width: clamp(2.8rem,4vw,3rem);
    height: clamp(2.8rem,4vw,3rem);
    color: white;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    transition: transform 200ms ease-out;
    position: relative;
}

.menu-item{background-color: black;}

img.item {
    vertical-align: middle;
    width: clamp(1.3rem, 2vw, 1.8rem);
}

/* Hamburguesa centrada en el botón */
.hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 200ms;
    width: clamp(.9rem, 2vw, 1.2rem);
    height: 3px;
    background: white;
    
}

.hamburger-1 {
    transform: translate(-50%, calc(-50% - 6px));
}

.hamburger-2 {
    transform: translate(-50%, -50%);
}

.hamburger-3 {
    transform: translate(-50%, calc(-50% + 6px));
}

/* Checkbox oculto */
.menu-open {
    display: none;
}

/* Estado abierto */
.menu-open:checked+.menu-open-button .hamburger-1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    opacity: 0;
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Items ocultos por defecto */
.menu-item {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(-50px, 0, 0);
    /* desplazados a la izquierda */
    transition: transform 400ms ease, opacity 400ms ease;
    margin-left: .5rem;
}

.menu-item:hover {
    background: #bc9536;
}

.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* Al abrir menú aparecen */
.menu-open:checked~.menu-item {
    transform: translate3d(0, 0, 0);
    /* posición original */
    opacity: 1;
    pointer-events: auto;
}

.menu-open:checked~.menu-item:nth-of-type(1) {
    transition-delay: 100ms;
}

.menu-open:checked~.menu-item:nth-of-type(2) {
    transition-delay: 200ms;
}

.menu-open:checked~.menu-item:nth-of-type(3) {
    transition-delay: 300ms;    
}

.menu-open:checked~.menu-item:nth-of-type(4) {
  transition-delay: 400ms;
} 

@media (max-width:840px){

}