* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
}

.logo img {
    margin-left: 1rem;
    width: 125px;
}

div.menunav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    margin-right: 1rem;
}

div.menunav a {
    color: white !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-align: center !important;
    padding: .3rem;
}

div.menunav a:hover {
    background: #d89529;
}

a.button {
    color:white ;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    position: relative;
    display: inline-block;
    padding: 0.5em .7em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

a.button::before,
a.button::after {
    content: '';
    display: block;
    position: absolute;
    border-color: #d89529;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

a.button::before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

a.button::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

a.button:hover:before,
a.button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #d89529
}

a.button:hover {
  color: white;
  background-color: #d89529;
  border-color: #d89529;
}

div#menu {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.carousel-inner, img.d-block {
    height: 40rem;
    width: 100%;
    cursor: no-drop;
}

/*Texto en el 1er slide*/
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 2rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}

a.carousel-control-prev, a.carousel-control-next{
    background: black;
}


