* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(14, 14, 14, 0.949);
    color: rgba(255, 255, 255, 0.851);
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.logo img {
    margin-left: 1rem;
    width: clamp(7rem, 12vw, 11rem);
}

div.menunav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    margin-right: 1rem;
}

div.menunav a {
    color: white !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-align: center !important;
    padding: .3rem;
}

div.menunav a:hover {
    background: #d89529;
}

a.button {
    color: white;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    position: relative;
    display: inline-block;
    padding: 0.5em .7em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

a.button::before,
a.button::after {
    content: '';
    display: block;
    position: absolute;
    border-color: #d89529;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

a.button::before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

a.button::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

a.button:hover:before,
a.button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #d89529
}

a.button:hover {
    color: white;
    background-color: #d89529;
    border-color: #d89529;
}

div#menu {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.carousel-inner,
img.d-block {
    height: 40rem;
    width: 100%;
    cursor: no-drop;
}

/*Texto en el 1er slide*/
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 2rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}

a.carousel-control-prev,
a.carousel-control-next {
    background: black;
}

section {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 2rem;
}


div.sesiones,
div.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    height: auto;
    margin-top: 2rem;

}

.card {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.851);
    font-weight: 600;
    font-size: large;
    margin-bottom: .5rem;
}

div.card.p-3{
    padding: .5rem !important;
    text-align: center !important;
}

a.btn.btn-primary {
    border-radius: 0;
    background-color: transparent;
    border-color: #d89529;
    font-weight: 300;
}

a.btn.btn-primary:hover {
    background-color: #d89529;
    border-color: none;
}

button.btn.btn-outline-dark.mx-1 {
    margin: .3rem;
    color: rgba(255, 255, 255, 0.851);
    padding: 3px 8px;
    border-radius: 0;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: .5rem;
}

div.col-md-3 {
    width: 11rem;
    height: 12rem;
    border-radius:5px;
    padding: .8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.col-md-3:hover {
    transform: scale(1.05);
    /* pequeño zoom al pasar el mouse */
    box-shadow: 0 0 30px #d89529d8;
    /* sombra difusa hacia afuera */
}

section.testimonios{
    background: black;
}

section.testimonios h2{
    margin-top: 1rem;
}

div.cliente.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    column-gap: 1rem;
}

div.carousel-inner{
    width: 100%;
    height: auto;    
}

div.subtitle.mt-3{
    align-items: center;
    text-align: left;
}

img.d-block.mx-auto.rounded-square{
    width: 10rem;
    height: auto;
    margin: 0 !important;
    
}

